body {
  background-color: #f0f5f9;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #c9d6df;
  border-width: 5px;
  width: 5%;
}

.begin {
  text-align: center;
  margin:auto;
  width: 75%;

}
h1 {
  color: #75daad;
  text-align: center;
}

h2 {
  text-align: center;
  color: #52616b;
}

p, li {
  text-align: center;
  color: #52616b;
}

img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

label {
  color: #52616b;
}


input[type=text], input[type=email] {
  width: 100%;
  margin: 8px 0;

}
